/NVIDIA Direct3D SDK 11 Code Samples/Bin
/NVIDIA Direct3D SDK 11 Code Samples/source/.vs
/NVIDIA Direct3D SDK 11 Code Samples/source/StochasticTransparency/OIT.APS
/NVIDIA Direct3D SDK 11 Code Samples/Temp

